<div class="component__inner thoughts__inner">
  {{> component this}}
  <div class="component__widget thoughts__widget">
  	<div class="thoughts__input">
      <textarea placeholder="{{compile placeholder}}" class="thoughts__input-textbox" cols="2" rows="10"{{#if _characterLimit._isEnabled}} maxlength={{_characterLimit._max}}{{/if}}></textarea>
  	</div>
    {{#if _characterLimit._isEnabled}}
      <div class="thoughts__counter"></div>
    {{/if}}
  </div>

  <div class="btn__container">
    <div class="btn__response-container">
  <div class="btn__marking js-btn-marking">
    <div class="icon" aria-hidden="true"></div>
  </div>
  
      <button class="btn-text btn__action{{#if _canShowFeedback}}{{else}} is-fullwidth{{/if}} is-disabled js-btn-action" aria-label="{{_buttons._submit.ariaLabel}} disabled="true"">
        {{_buttons._submit.buttonText}}
      </button>

      {{#if _canShowFeedback}}
      <button class="btn-text btn__feedback is-disabled js-btn-feedback" aria-label="{{_buttons._showFeedback.ariaLabel}}" disabled="true">
        {{_buttons._showFeedback.buttonText}}
      </button>
      {{/if}}

    </div>
  </div>

</div>
